@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #121313;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}   

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 1.5rem; */
    background-color: #181818;
    width: 780px;
    height: 640px;
    border-radius: 30px;
    margin-top: 1rem;   
    padding-bottom: 30px; 
}



header h2{
    color: #6469B3;
    font-size: 2rem;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
}

.wrapper{
    margin-bottom: 0px;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 600px;
    max-height: 350px;
    overflow: auto;
    padding-top: 100px;
    
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.taskBox{
    display: flex;
    background-color: #c4c4c41b;
    width:300px;
    height: 60px;
    padding:8px;
    box-shadow:0px 0px 20px 7px #00000010;
    justify-content: center;
    border-radius: 11px;
    flex-direction: column;
    margin-bottom: 15px;
    overflow: hidden;
    transition: transform 0.35s ease-in-out;
    
}

.taskBox:hover{
    
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
    background-color: #9292921b;
    
}

.taskBox.completed{
   
    background-color: #41414110;
    overflow: hidden;
    transition: transform 0.35s ease-in-out;
    
}

.content{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}

.content p{
    font-size: 1rem;
    color: #9fb9cd;
    max-width:150px;
    overflow: auto; 
}

.content p::-webkit-scrollbar{
    display: none;
}

.updateTime{
    color: #777a7c;
    font-size: 0.7rem;
    position: relative;
    left: -3.7rem;
    top: -0.3rem;
    transform: translate(50%, -50%);
   
}

.check{
    width: 35px;
    background-color: #003172dd;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    
}

.check i{
    color: #d3d3d39c;
    font-size: 1.2rem;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: #6469B3;
}


.delete{
    width: 35px;
    height: 35px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.check , .delete{
    margin-top: 15.5px;
}
.delete i{
    color: #0d98de9c;
    font-size: 1.2rem;
    
}

del {
    color: rgb(214, 212, 212); 
  }

form{
   margin-bottom: -3rem; 
   margin-left: 43px;   
}

form input{
    padding: 1.2rem;
    width: 350px;
    outline: none;
    border-radius: 15px;
    font-size: 1.1rem;
    border: 2px solid #7b7272a7;
    color: #606467;
    background-color: #39383836;
}

form input::placeholder{
    color: #6c6f71; 
    font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
 
    main{
      background-color:#121313;
    }
     
}

.editForm {
    z-index: 1;
    width: 300px;
    height: 60px;
    position: relative;
    bottom: 16px;
    left:-68px
}

.editInput{
    width: 320px;
    height: 64px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1d1d1d;
    font-size: 1.1rem;
    
}

.editForm i{
    position: relative;
    left: 250px;
    top: -48px;
    font-size: 1.3rem;
    color: #0c96daa3;
    background-color: #3d3d3d;
    padding: 5px 7px;
    border-radius: 9px;
}

.fa-circle-chevron-up {
    position: relative;
    left: -54px;
    top: 2px;
    font-size: 1.5rem;
    color: #0d98de9c;
    background-color: #3d3d3d90;
    padding: 8px 9px;
    border-radius: 9px;
}